body {
    font-family: Arial, sans-serif;
    margin: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.form-container {
    width: 50%;
    /* Or any desired width */
    margin: 0 auto;
    margin-bottom: 20px;
}

.radio-container {
    margin-bottom: 20px;
    text-align: center;
}

.radio-container label {
    margin-right: 20px;
}

label {
    display: inline-block;
    width: 150px;
    margin: 10px 0;
}

input {
    padding: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.error {
    color: red;
    margin-top: 10px;
}

.notice {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    white-space: pre-line;
    /* Preserve line breaks for bullet points */
}

@media print {

    .form-container,
    .error,
    .radio-container {
        display: none;
    }

    .notice {
        display: block;
    }
}